#projects{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#project{
    margin: auto;
    padding: 1rem;
    width:90vw;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    gap:2rem;
    border:0.5px solid white;
    border-radius: 1rem;
    background: rgba(218, 218, 218, 0.176);

}

.pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width:100%;
}
.pro h1{
    font-size:2rem
}

.pro-con{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    background: rgba(123, 0, 94, 0.68);
    border-radius: 1rem;
    box-shadow: 10px 10px 60px 20px #f801ae71;
    border: 2px dotted rgb(0, 193, 241); 
    width: 100%;
    height: auto
}
.swiper{
    display: flex;
    gap:1rem;
    width:100%;
    overflow: hidden;
    box-shadow: 0 1px 5px #df059a, 0 0 15px #df059a, 0 0 25px #df059a, 0 0 100px #df059a;
border-radius: 10px;
}
.pro-card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin:0.5rem;
    padding: 0.5rem;
    margin-left: 5rem;
    border-radius: 10px;
    background-color: rgb(0, 255, 217);
    box-shadow: 0 1px 5px #df059a, 0 0 15px #df059a, 0 0 25px #df059a, 0 0 100px #df059a;
    color: black;
   font-size: 1.5rem;
   font-weight: 600;
   height: 40%;
   width:80%;
}


.pro-card .imgt{
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 30%;
    
}

.linkdes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem
}

.s1{
    font-size: 1.7rem;
    font-weight: 700;
}
.protit{
    display: flex;
    flex-direction: column;
}

.r-prevButton{
    padding: 0.2rem;
    position: absolute;
    bottom:0%;
    left:0;
    border-radius: 50%;
    width:4rem;
    height: 4rem;
    z-index: 5999;
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.3s;
}
.r-prevButton:hover{
    scale:1.1;
    background-color: black;
    color: white;
}

.r-nextButton{
       padding: 0.2rem;
        position: absolute;
        bottom:0%;
        right:0%;
        border-radius: 50%;
        width:4rem;
        height: 4rem;
        z-index: 5999;
        background-color: white;
        font-size: 2rem;
        font-weight: 600;
        transition: 0.3s;
}
.r-nextButton:hover{
    scale:1.1;
    background-color: black;
    color: white;
}

.links{
    display: flex;
    gap:1rem
}

@media screen and (max-width:700px) {
    .pro-card{
        margin-left: 4rem;
    }
    .r-prevButton{
        width:3rem;
        height: 3rem;
    }
    .r-nextButton{
        width:3rem;
        height: 3rem;
    }
}

@media screen and (max-width:550px) {
    .pro-card{
        margin-left: 2rem;
    }
    .linkdes{
        gap:0.5rem
    }
    .s1{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .s2{
        font-size: 1rem;
        font-weight: 400;
    }
    
}

@media screen and (max-width:370px) {
    .links{
        flex-direction: column;
        gap:0;
    }
    .r-nextButton{
        width:2rem;
        height: 3rem;
    }
    .r-prevButton{
        width:2rem;
        height: 3rem;
    }
    .s1{
        font-size: 1rem;
        font-weight: 700;
    }
    .s2{
        font-size: 0.7rem;
        font-weight: 400;
    }
}