#project{
    margin: auto;
    padding: 1rem;
    width:70vw;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items:center;
    gap:2rem;
    border:0.5px solid white;
    border-radius: 1rem;
    background: rgba(218, 218, 218, 0.176);

}

.pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width:70%;
}

.pro-con{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    background: rgba(123, 0, 94, 0.68);
    border-radius: 1rem;
    box-shadow: 10px 10px 60px 20px #f801ae71;
    border: 2px dotted rgb(0, 193, 241); 
    width: 70rem;
}

.pro-card{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin:0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(0, 255, 217);
   color: black;
   font-size: 1.5rem;
   font-weight: 600;
   height: 40rem;
   width:65rem
   
}
.swiper{
    width:100%;
    
}

.pro-card .imgt{
    object-fit: cover;
    border-radius: 1rem;
    width: 57rem;
    height: 32rem;
    
}

.linkdes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:4rem
}

.s1{
    font-size: 1.7rem;
    font-weight: 700;
}
.protit{
    display: flex;
    flex-direction: column;
}

.r-prevButton{
    position: absolute;
    top:40%;
    left: 0;
    border-radius: 50%;
    width:5rem;
    height: 5rem;
    z-index: 5999;
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
}

.r-nextButton{
    
        position: absolute;
        top:40%;
        right:0;
        border-radius: 50%;
        width:5rem;
        height: 5rem;
        z-index: 5999;
        background-color: white;
        font-size: 2rem;
        font-weight: 600;
}

.links{
    display: flex;
    gap:1rem
}